<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="./home.component.css">
</head>
<body>
    <div class="title1">
       <h4>caring for </h4>
      </div>
      <div class="title2">
        <h1>​Carbon FootPrint</h1>
      </div>
      <div class="content">
       <h2>Say - what is carbon FootPrint?</h2>
       <br><br>
       <p class="centered resized-paragraph">
        ​ ​A carbon footprint is a measure of the amount of carbon dioxide (CO2e) 
        and other greenhouse gases released into the atmosphere as a result of human activities,<br> 
        such as burning fossil fuels for energy,
        transportation, and various industrial processes.<br>
         It quantifies the impact of these activities on climate change by estimating the total emissions of greenhouse gases
          associated with a particular individual/product.
       </p>

      <br>
      <a href="#LM" >LEARN MORE</a>
      </div>
      <div class="pic">
      <div style="background-image: url('../../assets/img/aaaaa.png');"></div>
      <div style="background-image: url('../../assets/img/bbbbbbbbbbb.png');"></div>
      <div style="background-image: url('../../assets/img/dddddddd.png');"></div>
      <div style="background-image: url('../../assets/img/j.png');"></div>
     
    </div>
   <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>   <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
     <div class="x">
    <img  class="imge"src="../assets/img/moreinfo.png" id="LM">
    <a href="#RM" >READ MORE</a>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>   <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="image-container">
    <img src="../assets/img/learn.png" alt="" class="image" id="RM">
    <div class="button-container">
      <button class="button" (click)="gotoregisterpage()">CALCULATE </button>
     
    </div>
  </div>
  
</body>
</html>


